<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sarkari Capsule</title>
</head>
<body>
  <h1>Error : Error Code {{ error_code }}</h1>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- square ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9890029842822433"
     data-ad-slot="9646950220"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- square ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9890029842822433"
     data-ad-slot="9646950220"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</body>
</html>